<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Participation4_EastmanCayden.Properties.Settings.LocalPhoneListDbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\LocalPhoneListDb.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Participation4_EastmanCayden.Properties.Settings.UVUPhoneNumsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\UVUPhoneNums.mdf;Integrated Security=True;Connect Timeout=30;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Participation4_EastmanCayden.Properties.Settings.INFO2200_CrandallSayConnectionString"
            connectionString="Data Source=bigdataa.ad.uvu.edu;Initial Catalog=INFO2200_CrandallSay;User ID=jbmuser;Password=jellybellymovie;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>